<p>
  <%= form.label :suburb, "Suburb" %>
  <%= form.text_field :suburb %><br>
  <%= form.label :postcode, "Postcode" %>
  <%= form.text_field :postcode %><br />
  <%= form.label :state, "State" %>
  <%= form.text_field :state %><br />
  <%= form.label :country, "Country" %>
  <%= form.text_field :country %><br />
</p>
