<p id="notice"><%= notice %></p>

<%= image_tag @profile.profile_pic_url(:medium) %>

<h2>
  <%= @profile.username %>
</h2>

<p>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @profile.rating %>
</p>

<!--
<p>
  <strong>Offers:</strong>
  <% @offer.each do |offer| %>
    <p>Price: <%= offer.price %></p>
    <p>Time: <%= offer.time %> minutes</p>
    <p>In person:<%= offer.in_person? %></p>
    <%= link_to "Buy", new_deal_path(params: {:deal => {:offer_id => offer.id, :user_id => current_user.id, :profile_id => params[:id]}}) %>
    <%= link_to 'Delete', offer, method: :delete, data: { confirm: 'Are you sure?' } if offer.user_id == current_user.id %>
    <hr>
  <% end %>
</p>
-->
<% if @profile.user.has_role?(:stylist) %>
  <% if @profile.has_offers == true %>
    <%= link_to 'Show Offers', offers_path(params: {:offer => {:user_id => @profile.user_id, :profile_id => @profile.id}}) %>
  <% end %>
  <% if @profile.user_id == current_user.id%>
    <%= link_to 'Create Offer', new_offer_path(params: {:offer => {:user_id => @profile.user_id, :profile_id => @profile.id}}) %>
  <% end %>
<% end %>
<% if @profile.user_id == current_user.id %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>
