<p id="notice"><%= notice %></p>

<%= image_tag @profile.profile_pic_url(:medium) %>

<h2>
  <%= @profile.username %>
</h2>

<p>
  <%= @profile.user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @profile.rating %>
</p>

<% if @profile.user_id == current_user.id %>
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
<% end %>
<%= link_to 'Back', profiles_path %>
