<h1>All Conversations</h1>

<table class="table">

  <thead>
    <tr>
      <th scope="col-sm-1">#</th>
      <th scope="col-sm-4">Subject</th>
      <th scope="col-sm-4">Recipient</th>
    </tr>
  </thead>
    <br>  
  <tbody>
    <% count = 1 %>
    <% @conversations.each do |conversation| %>
      <tr>
        <th scope="row" class="col-md-1"><%= count %></th>
        <td class="col-sm-4"><%= link_to conversation.subject, conversation_path(conversation) %></td>
        <% if current_user.id == conversation.recipients.first.id %>
          <% if conversation.recipients.last.profile.username.present? %>
            <td class="col-sm-4"><p><%= link_to conversation.recipients.last.profile.username, profile_path(conversation.recipients.last.profile) %></p></td>
          <% else %>
            <td class="col-sm-4"><p><%= link_to conversation.recipients.last.email, profile_path(conversation.recipients.last.profile) %></p></td>
          <% end %>
        <% elsif current_user.id == conversation.recipients.last.id %>
          <% if conversation.recipients.first.profile.username.present? %>
            <td class="col-sm-4"><p><%= link_to conversation.recipients.first.profile.username, profile_path(conversation.recipients.first.profile) %></p></td>
          <% else %>
            <td class="col-sm-4"><p><%= link_to conversation.recipients.first.email, profile_path(conversation.recipients.last.profile) %></p></td>
          <% end %>
        <% end %>
      </tr>
      <% count += 1 %>
    <% end %>
  </tbody>

</table>
