<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Deal Receipt</title>
</head>
<body>
  <h2>Hi, <%= @deal.profile.username %> </h2>
  <h1><%= @deal.user.profile.username %> has paid for your offer</h1>
  <p>Price: <%= @deal.offer.price %></p>
  <p>Session length: <%= @deal.offer.time %></p>
  <p>In person?: <%= @deal.offer.in_person %></p>
  <p>View the <%= link_to 'DEAL', deal_url(@deal.id) %></p>
</body>
</html>