<div id="move_in">
  <h2>Forgot your password?</h2>
  <br>

  <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>
    <div class="field login_field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field login_field">
      <%= f.submit "Send me reset password instruction" %> 
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  <br>
</div>