<%= form_with(model: deal, local: true) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  
  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time %>
  </div>

  <div class="field">
    <%= form.label :stylist_agree %>
    <%= form.check_box :stylist_agree, {}, "true", "false" %>
  </div>

  <div class="field">
    <%= form.label :scrub_agree %>
    <%= form.check_box :scrub_agree, {}, "true", "false" %>
  </div>

  <div class="field">
    <%= form.label :paid %>
    <%= form.check_box :paid, {}, "true", "false" %>

  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.text_field :profile_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :offer_id %>
    <%= form.text_field :offer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
