<%= form_with(model: deal, local: true) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !deal.stylist_agree && current_user.has_role?(:scrub)%>
    <h3>Waiting for <%= deal.profile.username %> to accept</h3>
  <% elsif !deal.stylist_agree && current_user.has_role?(:stylist) %>
    <h3>Waiting for YOU to accept!</h3>
  <% end %>

  <% if current_user.id == deal.profile.user.id && !deal.stylist_agree %>
    <%= button_to 'Agree to deal', { action: "update" }, method: :patch, params: {:deal => {:stylist_agree => "true"}}, class: "btn btn-success" %>
  <% end %> 

  <% if current_user.id == deal.buyer && deal.stylist_agree == true && !deal.scrub_agree %>
    <%= button_to 'Agree to deal', { action: "update" }, method: :patch, params: {:deal => {:scrub_agree => "true"}}, class: "btn btn-success" %>
  <% end %>
  <br>
<% end %>
