<p id="notice"><%= notice %></p>

<h1>Deals</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Stylist agree?</th>
      <th>Scrub agree?</th>
      <th>Paid?</th>
      <th>Stylist</th>
      <th>Scrub</th>
      <th>Offerers account</th>
      <th>Created</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= deal.offer.price %></td>
        <td><%= deal.stylist_agree? %></td>
        <td><%= deal.scrub_agree? %></td>
        <td><%= deal.paid? %></td>
        <td><%= deal.profile.username %></td>
        <td><%= deal.user.profile.username %></td>
        <td><%= deal.offer.user.email %></td>
        <td><%= deal.created_at %></td>        
        <td><%= link_to 'Show', deal %></td>
        <% if current_user.has_role?(:admin) %>
          <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
          <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
