<h1>Deals</h1>

<table id="deal_screen">
  <thead>
    <tr>
      <th>Price</th>
      <th>Stylist agree?</th>
      <th>Scrub agree?</th>
      <th>Paid?</th>
      <th>Stylist</th>
      <th>Scrub</th>
      <th>Created</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td>$<%= deal.offer.price.to_i %></td>
        <% if deal.stylist_agree %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
        <% if deal.scrub_agree %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
        <% if deal.paid != true %>
          <td>Pending..</td>
        <% else %>
          <td><%= deal.paid %></td>
        <% end %>
        <td><%= link_to deal.profile.username, profile_path(deal.profile) %></td>
        <td><%= link_to deal.user.profile.username, profile_path(deal.user.profile) %></td>
        <td><%= deal.created_at %></td>        
        <td><%= link_to 'Show', deal, class: "btn btn-primary" %></td>
        <% if current_user.has_role?(:scrub) && deal.scrub_agree != true && deal.stylist_agree == true%>
          <td><%= link_to 'Pending', deal, class: "btn btn-danger" %></td>
        <% elsif current_user.has_role?(:scrub) && deal.stylist_agree != true %>
          <td><%= link_to 'Pending', deal, class: "btn btn-danger" %></td>
        <% end %>       
        <% if deal.paid %>   
          <td><%= link_to 'Paid', deal, class: "btn btn-success" %></td>
          <td><%= link_to 'Review Stylist', new_review_path(params: {:profile_id => deal.profile.id, :deal_id => deal.id}), class: "btn btn-info" %></td>
        <% end %>
        <% if current_user.has_role?(:admin) %>
          <td><%= link_to 'Edit', edit_deal_path(deal), class: "btn btn-primary" %></td>
          <td><%= link_to 'Delete', deal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
