
<%= render 'form', deal: @deal %>


<% unless @deal.paid %>
  <% if @deal.stylist_agree == true && @deal.scrub_agree == true && current_user.id == @deal.buyer %>

  <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Amount: $<%= @deal.offer.price %></span>
      </label>
    </article>

    <%= hidden_field_tag :deal_id, @deal.id %>
  
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @deal.profile.username %>'s Offer'"
            data-amount="<%= @deal.offer.price * 100 %>"
            data-locale="auto"></script>
    <% end %>
  <% end %>
<% end %>
<br>

<p>
  <strong>Stylist agreed to offer:</strong>
  <% if @deal.stylist_agree %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p>
  <strong>Scrub agreed to offer:</strong>
  <% if @deal.scrub_agree %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p>
  <strong>Offer paid:</strong>
  <% if @deal.paid %>
    Yes
  <% else %>
    No
  <% end %>
</p>

<p>
  <strong>Stylist:</strong>
  <%= @deal.profile.username %>
</p>

<p>
  <strong>Scrub:</strong>
  <%= @deal.user.profile.username %>
</p>

<p>
  <strong>Price:</strong>
  $<%= @deal.offer.price %>
</p>

<p>
  <strong>Session length:</strong>
  <%= @deal.offer.time %> hour
</p>

<p>
  <strong>In person:</strong>
  <%= @deal.offer.in_person %>
</p>

<%= link_to 'Back', deals_path, class: "btn btn-secondary" %>


