<p id="notice"><%= notice %></p>

<%# <div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" name="price"  class="form-control">
      </div>
      <input type="submit" value="Filter" class="btn btn-default">
    </form>
  </div>
</div> %>

<h1><%= @offers.first.profile.username %>'s Offers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>      
      <th>Time</th>
      <th>In person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.title %></td>
        <td><%= offer.price %></td>        
        <td><%= offer.time %></td>
        <td><%= offer.in_person %></td>
        <td><%= link_to "Request", deals_path(:params => {:deal => {:buyer => current_user.id, :profile_id => offer.profile_id, :offer_id => offer.id, :user_id => current_user.id}}), method: :post, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if @offers.first.profile.user.id == current_user.id %>
  <%= link_to 'Create Offer', new_offer_path(params: {:offer => {:user_id => @offers.first.profile.user_id, :profile_id => @offers.first.profile.id}}), class: "btn btn-success" %>
<% end %>
<%= link_to 'Back', profile_path(@offers.first.profile.id), class: "btn btn-secondary" %>
