<strong><p>
  <%= @offer.title %>
</p></strong>

<p>
  <%= @offer.content %>
</p>

<p>
  <strong>Price:</strong>
  <%= @offer.price %>
</p>

<p>
  <strong>Time:</strong>
  <%= @offer.time %>
</p>

<p>
  <strong>In person:</strong>
  <%= @offer.in_person %>
</p>

<p>
  <strong>Stylist:</strong>
  <%= @offer.user.profile.username %>
</p>

<%= link_to "Request", deals_path(:params => {:deal => {:buyer => current_user.id, :profile_id => @offer.profile_id, :offer_id => @offer.id, :user_id => current_user.id}}), method: :post, class: "btn btn-success" %>
<%= link_to 'Edit', edit_offer_path(@offer), class: "btn btn-primary" %>
<%= link_to 'Back', profile_path(@offer.profile.id), class: "btn btn-secondary" %>
