<div class="col">
<div class="row">
<h1>Posts</h1>
<hr>
<%= render 'partials/post_filter' %>


<table class="table" id="flexy">
  <thead>
    <tr>
      <th scope="col"><%= link_to 'New Post', new_post_path, class: "btn btn-primary"%></th>     
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
  <div class="posts">
      <tr id="post_index">
        <td class="col-sm-1"><%= link_to image_tag(post.image_url(:post)), post_path(post) %></td>
        <td class="col-sm-1"><strong><%= post.user.profile.username %></strong></td>
        <td class="col-sm-5"><%= post.content %></td> 
        <td class="col-sm-1"><%= post.title %></td>
        <td class="col-sm-1"><strong><%= post.owner_role.capitalize %></td></strong>
        <% if (Time.now - post.created_at).to_i / 60 < 60 %>
          <td class="col-sm-1"><%= (Time.now - post.created_at).to_i / 60 %> minutes ago</td>
        <% elsif ((Time.now - post.created_at).to_i / 60 / 60) < 24%>
          <td class="col-sm-1"><%= ((Time.now - post.created_at).to_i / 60) / 60 %> hours ago</td>
        <% else %>
          <td class="col-sm-1"><%= (((Time.now - post.created_at).to_i / 60) / 60) / 24 %> days ago</td>
        <% end %>

      <!--  <td><%= link_to "Comment" %></td> -->
 
        <td><%= link_to 'Show', post_path(post), class: "btn btn-success" %></td>  
        <% if post.user == current_user %>  
          <td><%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td> <br>
        <% else %>
          <td><%= link_to 'Profile', profile_path(post.user.profile), class: "btn btn-success" %></td>
          <td></td>
        <% end %>
      </tr>
      </div>
      <tr>
        <td colspan="12">
        <br>
          <% post.comments.each do |comment| %>
            <div id="comments" class="row" style="margin-bottom:1em;">
              <div class="comment_pic col-sm-0.5">
                <% if comment.user.profile.profile_pic.present? %>
                  <%= link_to image_tag(comment.user.profile.profile_pic_url(:thumb)), profile_path(comment.user.profile) %>
                <% else %>
                  <%= link_to image_tag("default.png", size: "50x50", alt: "Default profile pic"), profile_path(comment.user.profile) %>
                <% end %>
              </div>
              <div class="col-sm-6">
              <% if comment.user.profile.username.present? %>
                <strong><%= comment.user.profile.username.capitalize %></strong>
              <% end %>
              <% if (Time.now - comment.created_at).to_i / 60 < 60 %>
                <%= (Time.now - comment.created_at).to_i / 60 %> minutes ago  
              <% elsif ((Time.now - comment.created_at).to_i / 60 / 60) < 24%>
                <%= ((Time.now - comment.created_at).to_i / 60) / 60 %> hours ago
              <% else %>
                <%= (((Time.now - comment.created_at).to_i / 60) / 60) / 24 %> days ago 
              <% end %>
              <p id="comment_content"><%= comment.content %></p>
              <hr>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>

</div>

