<p id="notice"><%= notice %></p>
  
<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" name="title"  class="form-control">
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <input type="text" name="content"  class="form-control">
      </div>
      <div class="form-group">
        <label for="owner_role">Account Type:</label>
        <select name="owner_role" class="form-control">
          <option disabled selected value> -- select account type -- </option>
          <option value="stylist">Stylist</option>
          <option value="scrub">Scrub</option>
        </select>
      </div>
      <input type="submit" value="Filter" class="btn btn-default">
    </form>
  </div>
</div>

<h1>Posts</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>Owner role</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>        
        <td><%= image_tag post.image_url(:post) %></td>
        <td><%= post.owner_role %></td>
        <td><%= post.user.profile.username %></td>   
      <!--  <td><%= link_to "Comment" %></td> -->
        <td><%= link_to 'Show', post_path(post) %></td>  
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> <br>
      </tr>
      <div>
      <tr>
        <% post.comments.each do |comment| %>
        <td>Comments</td>
        <td><%= comment.user.profile.username %></td>
        <td><%= comment.content %></td>
        <% end %>
      </tr>
      </div>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Post', new_post_path %>
