<%= bootstrap_form_for(@review) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :profile_id, @profile.id %>
  <%= hidden_field_tag :deal_id, @deal.id %>

  <div class="field login_field">
    <%= form.number_field :rating, hide_label: true, placeholder: "Rating", min: 1, max: 5 %>
  </div>
  <br>

  <div class="field login_field">
    <%= form.text_area :content, hide_label: true, placeholder: "Review" %>
  </div>
    <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
