<!DOCTYPE html>
<html>
  <head>
    <title>StyleApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <%= link_to "Posts", posts_path, class: "nav-item nav-link active" %>
            <% if Deal.all.find_by(buyer: current_user.id).present? %>
              <%= link_to "Deals", deals_path, class: "nav-item nav-link active" %>
              <% end %>            
            <%= link_to "Stylists", stylists_path, class: "nav-item nav-link active" %>   
            <%= link_to "Scrubs", scrubs_path, class: "nav-item nav-link active" %>   
            <%= link_to "Your Profile", profile_path(current_user.profile.id), class: "nav-item nav-link active" %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-item nav-link active" %>                                                   
          </div>
        </div>
      </nav>
    <% end %>
    
    <% if user_signed_in? %>
      <p>Currently signed in as: <%= current_user.email %></p>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
